@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Fira Sans Condensed", sans-serif;

}

body {
    font-family: "Fira Sans Condensed", sans-serif;

}

.header {
    padding-top: 8px;
}

.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}

.header__link {
    color: rgb(31, 21, 52);
    font-size: 18px;
    font-weight: 200;
    line-height: 23px;
    text-decoration: none;
    opacity: 0, 5;
    transition: 0, 5s ease-in-out;
}

.heyder__link:hover {
    color: black;
    opacity: 1;

}

.header__link:active {
    color: red;
}

.ota {
    display: flex;
    gap: 40px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.hero {
    padding: 91px;
    padding-bottom: 91px;
}

.hero__textbox {
    width: 440px;
}

.hero__title {
    color: #000000;
    font-size: 48px;
    font-weight: 200;
    line-height: 56px;
    position: relative;
    right: 300px;
}

.hero__title {
    color: #000000;
    font-size: 48px;
    font-weight: 200;
    line-height: 56px;
}

.hero__text {
    color: #ffffff;
    font-size: 21px;
    font-weight: 200;
    line-height: 32px;
    margin-top: 26px;
    margin-bottom: 35px;

}

.hero__btn {
    width: 197px;
    border-radius: 55px;
    color: white;
    font-size: 18px;
    font-weight: 200;
    line-height: 23px;
    padding: 14px 0;
    border: none;
    background: rgb(255, 0, 0);
    transition: 0.5s ease-in-out;
}

.hero__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__btn:hover {
    background-color: black;
}

.nimadir h2 {
    text-align: center;
}


.box_2 {
    width: 380px;
    height: 380px;
    border: 1px solid black;


}

.box_1 {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.box_2 {

    border-radius: 23px;
    flex-wrap: wrap;
}

.bilmasam {
    color: rgb(69, 143, 246);
}

.box__1 {
    width: 380px;
    height: 380px;
    background-color: rgb(69, 143, 246);
    border-radius: 30px;
    text-decoration: none;
    width: 1180;
    height: 1105.7435302734375;
    opacity: 1;
}

.hero__list {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    display: flex
}

.hero__btn {
    width: 197px;
    border-radius: 55px;
    color: white;
    font-size: 18px;
    font-weight: 200;
    line-height: 23px;
    padding: 14px 0;
    border: none;
    background: rgb(255, 0, 0);
    transition: 0.5s ease-in-out;
    text-align: center;

}

.hero__btn {
    width: 197px;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: 200;
    line-height: 23px;
    padding: 14px 0;
    border: none;
    background: rgb(255, 0, 0);
    transition: 0.5s ease-in-out;
    text-align: center;
}


.check__title {
    color: rgb(0, 0, 0);
    font-size: 36px;
    font-weight: 200;
    line-height: 56px;
    text-align: center;
    margin-bottom: 109px;
}

.wrapper {
    background-image: url(./images/image\ 4\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.textbox {
    text-align: center;
    margin-top: 30px;
}

.hero__text {
    color: #000000;
    font-weight: 500;
    min-width: 600px;
    position: relative;
    right: 300px;
}

.hero__text1 {
    color: #000000;
    font-weight: 500;
    min-width: 600px;
    font-size: 24px;
}

.rang {
    background-color: rgba(14, 180, 193, 1);
}

body {
    background-color: #fff;
    color: #000;
}

.contact-section {
    background-color: #00b5c2;
    text-align: center;
    padding: 50px 0;
}

.contact-section h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}

.map iframe {
    border-radius: 10px;
    width: 513px;
    height: 331px;
}

.contact-form {
    background: #fff;
    border-radius: 10px;
    width: 540px;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.contact-form button {
    width: 100%;
    padding: 12px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #ff0000;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1100px;
}

.footer-content .logo {
    background-color: #ff0000;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 50%;
}

.footer-content nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

.footer-content nav a:hover {
    color: #00b5c2;
}